body{
    background-color: #f2e8cf;
}


#hero{
    background-image: url("../IMG/Header1.jpeg");
    mask-image: linear-gradient(to bottom, black 75%, transparent);
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero ul li a{
    color: #fff;
}
